<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>CineCentral - Dashboard</title>
		<link rel="stylesheet" href="/css/estilos.css">
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">
		<link rel="shortcut icon" href="Images/shortico.png" type="image/x-icon">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
        <div id="menuToggle" class="menu-toggle">
            <span></span>
            <span></span>
            <span></span>
        </div>
		<nav class="sidebar" id="sidebar">
			<div class="sidebar-header">
				<h1>Cine<span>Central</span></h1>
			</div>
			<ul class="nav-links">
				<li><a href="index.html">Inicio</a></li>
				<li><a href="Carameleria.html" class="active">Caramelería</a></li>
				<li><a href="Cartelera.html">Carteleras</a></li>
				<li><a href="#">Proximos estrenos</a></li>
            <li><a href="#">Contacto</a></li>
			</ul>
		</nav>
		
		<main class="main-content">
   <div class="candy-grid">
    
    <article class="candy-card">
        <div class="candy-poster">
            <img src="/Images/food/combo-grande.jpg" alt="Combo">
        </div>
        <div class="candy-info">
            <h3>Combo Mega Duo</h3>
            <p class="precio">$11.00</p>
        </div>
    </article>

    <article class="candy-card">
        <div class="candy-poster">
            <img src="/Images/food/combo-familiar.jpg" alt="Combo Familiar">
        </div>
        <div class="candy-info">
            <h3>Combo Familiar</h3>
            <p class="precio">$15.00</p>
        </div>
    </article>

    <article class="candy-card">
        <div class="candy-poster">
            <img src="/Images/food/doritos.jpg" alt="Doritos">
        </div>
        <div class="candy-info">
            <h3>Dorito Grande</h3>
            <p class="precio">$5.50</p>
        </div>
    </article>

    <article class="candy-card">
        <div class="candy-poster">
            <img src="/Images/food/nestea.jpg" alt="Nestea">
        </div>
        <div class="candy-info">
            <h3>Nestea Durazno (Grande)</h3>
            <p class="precio">$1.50</p>
        </div>
    </article>

    <article class="candy-card">
        <div class="candy-poster">
            <img src="/Images/food/pepsi.jpg" alt="Pepsi">
        </div>
        <div class="candy-info">
            <h3>Pepsi (Grande)</h3>
            <p class="precio">$1.00</p>
        </div>
    </article>

</div>
    </section>
</main>
	<script src="/javascript/script.js"></script>
</body>
</html>