<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>CineCentral - Dashboard</title>
		<link rel="stylesheet" href="/css/estilos.css">
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">
		<link rel="shortcut icon" href="Images/shortico.png" type="image/x-icon">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
        <div id="menuToggle" class="menu-toggle">
            <span></span>
            <span></span>
            <span></span>
        </div>
		<nav class="sidebar" id="sidebar">
			<div class="sidebar-header">
				<h1>Cine<span>Central</span></h1>
			</div>
			<ul class="nav-links">
				<li><a href="index.html">Inicio</a></li>
                <li><a href="Carameleria.html">Caramelería</a></li>
                <li><a href="Cartelera.html" class="active">Carteleras</a></li>
				<li><a href="ProximosEstrenos.html">Próximos estrenos</a></li>
                <li><a href="Contacto.html">Contacto</a></li>
                <li class="login-menu-item"><a href="Login.html">Iniciar Sesión</a></li>

			</ul>
		</nav>
		
		<main class="main-content">
			<section class="movies-section">
            <div class="section-header">
                <h2>Cartelera</h2>
            </div>
            <div class="movies-grid-2">
                
                <article class="movie-card">
                    <div class="poster-container">
                        <img src="/Images/posters/mario.jpg" alt="Mario">
                        <span class="tag-estreno">ESTRENO</span>
                    </div>
                    <div class="movie-info">
                        <h3>Super Mario Galaxy: La película</h3>
                        <p class="meta">92 min | Animación</p>
                        <p class="langs">Español, Inglés Sub</p>
                    </div>
                </article>

                <article class="movie-card">
                    <div class="poster-container">
                        <img src="/Images/posters/mandalorian.jpg" alt="Mandalorian">
                    </div>
                    <div class="movie-info">
                        <h3>The Mandalorian</h3>
                        <p class="meta">120 min | Acción</p>
                        <p class="langs">Español Latino</p>
                    </div>
                </article>

                <article class="movie-card">
                    <div class="poster-container">
                        <img src="/Images/posters/backrooms.jpg" alt="Backrooms">
                        <span class="tag-estreno">ESTRENO</span>
                    </div>
                    <div class="movie-info">
                        <h3>The Backrooms</h3>
                        <p class="meta">95 min | Terror</p>
                        <p class="langs">Inglés Subtitulado</p>
                    </div>
                </article>

                <article class="movie-card">
                    <div class="poster-container">
                        <img src="/Images/posters/avatar.jpg" alt="Avatar">
                    </div>
                    <div class="movie-info">
                        <h3>Avatar: El Camino del Agua</h3>
                        <p class="meta">192 min | Sci-Fi</p>
                        <p class="langs">Español | Inglés</p>
                    </div>
                </article>
				
				<article class="movie-card">
                    <div class="poster-container">
                        <img src="/Images/posters/obsesion.jpg" alt="Obsesion">
                    </div>
                    <div class="movie-info">
                        <h3>Obsesión</h3>
                        <p class="meta">110 min | Terror</p>
                        <p class="langs">Español, Inglés Sub</p>
                    </div>
                </article>
				
				<article class="movie-card">
                    <div class="poster-container">
                        <img src="/Images/posters/adrian.jpg" alt="Bufon2">
                    </div>
                    <div class="movie-info">
                        <h3>El Bufón 2</h3>
                        <p class="meta">87 min | Terror</p>
                        <p class="langs">Inglés Sub</p>
                    </div>
                </article>
				
				<article class="movie-card">
                    <div class="poster-container">
                        <img src="/Images/posters/jackson.jpg" alt="Michael">
                        <span class="tag-estreno">ESTRENO</span>
                    </div>
                    <div class="movie-info">
                        <h3>Michael</h3>
                        <p class="meta">127 min | biografía</p>
                        <p class="langs">Español, Inglés Sub</p>
                    </div>
                </article>
				
				<article class="movie-card">
                    <div class="poster-container">
                        <img src="/Images/posters/zonaderiesgo.jpg" alt="ZonaDeRiesgo">
                    </div>
                    <div class="movie-info">
                        <h3>Zona De Riesgo</h3>
                        <p class="meta">97 min | Acción</p>
                        <p class="langs">Español, Inglés Sub</p>
                    </div>
                </article>
			
            </div>
        </section>
		</main>
	<script src="/javascript/script.js"></script>
</body>
</html>