<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>CineCentral - Próximos Estrenos</title>
		<link rel="stylesheet" href="/css/estilos.css">
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">
		<link rel="shortcut icon" href="Images/shortico.png" type="image/x-icon">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
        <div id="menuToggle" class="menu-toggle">
            <span></span>
            <span></span>
            <span></span>
        </div>
		<nav class="sidebar" id="sidebar">
        <div class="sidebar-header">
            <h1>Cine<span>Central</span></h1>
        </div>
        <ul class="nav-links">
            <li><div  class="contenedor">
			<a href="index.html" class="active">Inicio</a>
			<a href="index.html"><img src="/Images/icons/home.svg" class="add-icon" href="index.html"></a>
			</div>
			
			<li><div class="contenedor">
            <a href="carameleria.html">Caramelería</a>
			<a href="carameleria.html"><img src="/Images/icons/popcorn-svgrepo-com.svg" class="add-icon"></a>
			</div></li>
			
			<li><div class="contenedor">
            <a href="Cartelera.html">Carteleras</a>
			<a href="Cartelera.html"><img src="/Images/icons/movie-svgrepo-com.svg" class="add-icon"></a>
			</div></li>
			
			<li><div class="contenedor active">
            <a href="ProximosEstrenos.html">Próximos estrenos</a>
			<a href="ProximosEstrenos.html"><img src="/Images/icons/next-svgrepo-com.svg" class="add-icon"></a>
			</div></li>
			
			<li><div class="contenedor">
            <a href="Contacto.html">Contacto</a>
			<a href="Contacto.html"><img src="/Images/icons/mail.svg" class="add-icon"></a>
			</div></li>
			
			<li><div class="contenedor">
            <a href="login.html"  class="login-menu-item">Iniciar Sesión</a>
			<a href="login.html"  class="login-menu-item"><img src="/Images/icons/log-in.svg" class="add-icon"></a>
			</div></li>
        </ul>
    </nav>
		
		<main class="main-content">
			<section class="movies-section">
            <div class="section-header">
                <h2>Próximos Estrenos</h2>
            </div>
            <div class="movies-grid-2">
                
                <article class="movie-card">
                    <div class="poster-container">
                        <img src="/Images/posters/scarymovie.jpg" alt="Scary Movie 6">
                    </div>
                    <div class="movie-info">
                        <h3>Scary Movie 6</h3>
                        <p class="meta">12 de Junio | Comedia / Parodia</p>
                        <p class="langs">Español Latino</p>
                    </div>
                </article>

                <article class="movie-card">
                    <div class="poster-container">
                        <img src="/Images/posters/toystory.jpg" alt="Toy Story">
                    </div>
                    <div class="movie-info">
                        <h3>Toy Story 5</h3>
                        <p class="meta">19 de Junio | Animación / Familiar</p>
                        <p class="langs">Español Latino</p>
                    </div>
                </article>

                <article class="movie-card">
                    <div class="poster-container">
                        <img src="/Images/posters/comoquevaiana.jpg" alt="Moana">
                    </div>
                    <div class="movie-info">
                        <h3>Moana</h3>
                        <p class="meta">10 de Julio | Aventura / Musical</p>
                        <p class="langs">Español Latino</p>
                    </div>
                </article>

                <article class="movie-card">
                    <div class="poster-container">
                        <img src="/Images/posters/spiderman.jpg" alt="Spider-Man">
                    </div>
                    <div class="movie-info">
                        <h3>Spider-Man: Brand New Day</h3>
                        <p class="meta">31 de julio | Superhéroes / Acción</p>
                        <p class="langs">Español Latino</p>
                    </div>
                </article>
			
            </div>
        </section>
		</main>
	<script src="/javascript/script.js"></script>
</body>
</html>